servers.dat
servers.dat_old
options.txt
optionsof.txt
usernamecache.json
usercache.json

logs/
crash-reports/

saves/
resourcepacks/
shaderpacks/
screenshots/
schematics/
blueprints/
mods/
config/

instance.cfg
mmc-pack.json
.prism/
patches/

.DS_Store
Thumbs.db
icon.png

easteregg/
